<section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters</h2>
    <ul class="boosters-list">
      <li class="boosters-item">
        <svg class="booster-icon-idea" width="36" height="36">
          <use href="/img/sprite.svg#icon-idea"></use>
        </svg>
        <p>
          Style Hint:<br />
          Highlights a possible match
        </p>
      </li>
      <li class="boosters-item">
        <svg class="booster-icon" width="36" height="36">
          <use href="/img/sprite.svg#icon-arrows"></use>
        </svg>
        <p>
          Mirror Swap:<br />
          Exchange two tiles for a better combo
        </p>
      </li>
      <li class="boosters-item">
        <svg class="booster-icon" width="36" height="36">
          <use href="/img/sprite.svg#icon-brush"></use>
        </svg>
        <p>Fashion Sweep:<br />Instantly clears one full trio</p>
      </li>
    </ul>
    <hr class="divider" />
  </div>
</section>
