<hr class="section-divider" id="contacts" />
<section class="contact">
  <div class="container contacts-wrapper">
    <h2 class="contact-title">Contact</h2>
    <h3 class="contact-subtitle">Questions, feedback, or love letters?</h3>
    <div class="contact-info">
      <p class="contact-label">📧Email us:</p>
      <a href="mailto:info@digitivo.site" class="contact-link"
        >info@digitivo.site</a
      >
    </div>
    <p class="contact-text">
      We'll get back to you within 24 hours, Monday through Friday.
    </p>
  </div>
</section>
