<section id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="item-1">
        <p>Stylish levels with fashion tiles</p>
        <img
          src="/img/about/about_mob@2x.jpg"
          alt="levels example"
          height="183"
          width="149"
        />
      </li>
      <li class="item-2">
        <p>Romantic settings: rooftops, boutiques.</p>
        <img
          src="/img/gallery/setting.jpg"
          alt="romantic settings"
          height="183"
          width="149"
        />
      </li>
      <li class="item-3">
        <p>Outfit reveals after completing chapters</p>
        <img
          src="/img/gallery/outfit.jpg"
          alt="outfit reveals"
          height="183"
          width="149"
        />
      </li>
      <li class="item-4">
        <p>Moodboards and storybook UI</p>
        <img
          src="/img/gallery/moodboard.jpg"
          alt="storybook UI"
          height="183"
          width="149"
        />
      </li>
    </ul>
    <hr class="divider" />
  </div>
</section>
