<header class="header">
  <div class="container">
      <nav class="nav">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <image src="../img/nav_logo.png" alt="logo"></image>
          <span class="logo-txt">Tile<br> Fashion</span>
        </a>
        <div class="header__burger-wrapper">
        <button type="button" class="burger-btn" data-action="open">
          <image src="../img/burger-menu.svg" alt="burger menu" width="24" height="24"></image>
        </button>
        <div class="burger-menu" data-visible="close">
          <ul>
            <li><a href="#">link-1</a></li>
            <li><a href="#">link-2</a></li>
            <li><a href="#">link-3</a></li>
            <li><a href="#">link-4</a></li>
          </ul>
          <button type="button" class="btn-close" data-action="close">
            close
          </button>
        </div>
      </nav>
  </div>
</header>
