<section id="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">
        <span class="hero-title-margin">Match.</span
        ><span class="hero-title-margin">Style.</span> Fall in Love.
      </h1>
      <div>
        <div>
          <p class="hero-txt">
            Discover a relaxing tile-matching game where fashion meets romance
            in every level.
          </p>
          <a
            class="googleplay-link"
            href="https://play.google.com/store/apps/details?id=com.tile.fashion.makeover.story&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            >Play Now<br />
            Begin your story</a
          >
        </div>
        <div class="hero-logo-wrap">
          <picture>
            <source
              srcset="/img/game_logo.png 1x, ../img/game_logo@2x.png 2x"
            />
            <img src="/img/game_logo.png" alt="logo" height="74" width="74" />
          </picture>
          <h3 class="hero-subtitle">
            Tile Fashhion:<br /><span>Love Story</span>
          </h3>
        </div>
      </div>
      <hr class="divider" />
    </div>
  </div>
</section>
