<section id="outfit">
  <div class="container">
    <h2 class="outfit-title">Outfit progression</h2>
    <h3 class="outfit-subtitle">Unlock Looks as You Play</h3>
    <div class="outfit-content-wrap">
      <p>
        <span class="desktop-style">Unlock Looks as You Play<br /></span>
        As you complete levels, you collect pieces of
        <span>fashionable outfits</span>. Each set is tied to a chapter in your
        character’s love story. From casual coffee-date looks to runway-inspired
        evening wear, each chapter comes with its own aesthetic — and each match
        you make brings you closer to completing the ensemble.
      </p>
      <div class="outfit-img">
        <picture>
          <source
            srcset="../img/outfit_sect.png 1x, ../img/outfit_sect@2x.png 2x"
          />
          <img
            src="../img/outfit_sect.png"
            alt="outfit progression"
            height="225"
            width="149"
          />
        </picture>
      </div>
    </div>
    <hr class="divider" />
  </div>
</section>
