.about-section-title {
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 16px;
  color: #e38ca9;
  margin-bottom: 8px;
}

.about-subtitle {
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  color: #e38ca9;
  margin-bottom: 20px;
}

.section-content-wrap {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 20px;
}

.section-content-wrap > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-content-wrap p {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  font-weight: 400;
  color: #2c2c2c;
}

.section-content-wrap span {
  color: #e38ca9;
  font-weight: 700;
}

.about-img-wrap {
  width: 100%;
  min-width: 102px;
}

@media screen and (min-width: 1200px) {
  .about-section-title {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .about-subtitle {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .section-content-wrap {
    justify-content: center;
    gap: 79px;
    padding-bottom: 44px;
    align-items: start;
  }

  .section-content-wrap > div {
    flex-direction: row;
    gap: 8px;
    max-width: 652px;
  }

  .section-content-wrap p {
    font-size: 16px;
    width: 212px;
  }

  .about-img-wrap {
    width: 407px;
  }

  .about-img-wrap img {
    width: 100%;
  }
}
