.boosters-title {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 16px;
  color: #e38ca9;
  text-align: center;
  margin-bottom: 20px;
}

.boosters-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.boosters-item {
  border-radius: 12px;
  padding: 6px 24px 22px;
  background-color: #fff5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 262px;
  margin: 0 auto;
}

.booster-icon {
  fill: #e38ca9;
}

.booster-icon-idea {
  fill: transparent;
  stroke: #e38ca9;
}

.boosters-item p {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #2c2c2c;
}

@media screen and (min-width: 1200px) {
  .boosters-title {
    font-size: 40px;
    margin-bottom: 64px;
  }

  .boosters-list {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding-bottom: 8px;
  }

  .boosters-item {
    width: calc((100% - 64px) / 3);
    border-radius: 16px;
    padding: 8px 32px 29px;
    gap: 8px;
    margin: 0;
    max-width: 350px;
  }

  .boosters-item p {
    font-size: 24px;
  }
}
