.footer {
  background-color: #fadadd;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 29px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 8px 32px;
}

.footer-grid-item {
  font-family: 'Crimson Pro', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  color: #2c2c2c;
}

.footer-link {
  display: flex;
  padding: 8px 0px;
}

.footer-social-text {
  padding: 8px 0px;
  margin-bottom: 7px;
}

.footer-social-link {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.footer-logo-icon {
  fill: #a87c8e;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 32px;
  padding: 0 18.5px;
}

.footer-text {
  font-family: 'Crimson Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  color: #2c2c2c;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0;
  }
  .footer-container {
    max-width: 1200px;
    /* grid-template-columns: 1fr 1fr; */
  }

  .footer-grid-item {
    font-size: 16px;
  }

  .footer-text {
    font-size: 16px;
  }

  .footer-wrapper {
    padding: 0;
    margin-bottom: 8px;
  }
}
