.header {
  padding: 4px 0;
  background-color: #fdecef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav-logo img {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-txt {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 8px;
  color: #2c2c2c;
  line-height: 1.15;
}

.header__burger-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.burger-btn,
.btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 1000;
  display: block;
}

.btn-close {
  z-index: 1100;
}

.burger-menu {
  background-color: #fdecef;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  width: 192px;
  position: fixed;
  padding: 32px 10px 14px 10px;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1100;
  transform: translateX(100%);
}

.burger-nav-list {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.4;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-close {
  position: absolute;
  top: 6px;
  right: 8px;
}

.close-icon {
  stroke: black;
}

[data-visible='open'] {
  transform: translateX(0);
}

[data-visible='close'] {
  transform: translateX(100%);
}

.burger-menu[data-visible='open'] ~ .burger-btn {
  visibility: hidden;
  pointer-events: none;
}

body:has(.burger-menu[data-visible='open']) {
  background-color: rgba(0, 0, 0, 0.2);
}
