.header {
  padding: 4px 0;
  background-color: #fdecef;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  width: 100%;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.logo-txt {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #2c2c2c;
}

.header__burger-wrapper {
  display: flex;
  align-items: center;
}

.burger-btn,
.btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-menu {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  align-self: baseline;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}
